# Visual Studio Code
.vscode/

# Dependencias (si algún día usas Node.js)
node_modules/

# Archivos comprimidos
*.zip
*.rar
*.7z

# Logs
*.log

# Archivos temporales
*.tmp

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Storegit add .gitignore