/* ==========================================================
   NAVEGACIÓN INFERIOR
========================================================== */

.bottom-nav{

    position:absolute;

    left:28px;

    right:28px;

    bottom:18px;

    height:68px;

    display:flex;

    justify-content:space-around;

    align-items:center;

    background:rgba(255,255,255,.92);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    border-radius:22px;

    box-shadow:0 6px 18px rgba(0,0,0,.15);

    z-index:1000;

}

.bottom-nav button{

    flex:1;

    height:100%;

    border:none;

    background:none;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:4px;

    color:var(--gray);

    cursor:pointer;

    transition:var(--transition);

}

.bottom-nav button:hover{

    color:var(--primary);

    background:rgba(0,94,184,.05);

}

.bottom-nav button:active{

    transform:scale(.96);

}

.bottom-nav svg{

    width:22px;

    height:22px;

}

.bottom-nav span{

    font-size:.72rem;

    font-weight:500;

}