/*==================================================
  BOTÓN FLOTANTE
==================================================*/

.floating-button{

    position:absolute;

    right:34px;

    bottom:104px;

    width:60px;

    height:60px;

    border:none;

    border-radius:50%;

    background:var(--primary);

    color:#fff;

    font-size:2rem;

    font-weight:600;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 8px 24px rgba(0,94,184,.35);

    transition:all .25s ease;

    z-index:1500;

}

.floating-button:hover{

    transform:translateY(-2px);

    box-shadow:0 12px 28px rgba(0,94,184,.40);

}

.floating-button:active{

    transform:scale(.96);

}