/*==================================================
  ESTADOS DE INCIDENCIA
==================================================*/


.estado {

    display:inline-block;

    padding:4px 10px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

    color:white;

}


.estado.pendiente {

    background:#f39c12;

}


.estado.resuelta {

    background:#27ae60;

}